/* @import './base.css'; */
@import 'https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.css';


#app {
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    width: 100%;
  }
}
